<template>
    <div>
        <nav aria-label="Page navigation">
            <ul class="inline-flex -space-x-px h-10">
                <li v-for="  link   in   changeLinks  " :key="link.label" :class="{ 'disabled': !link.url }">
                    <a href="#" :class="getLinkClass(link)" @click.prevent="pageChanged(link.url)"
                        :aria-current="link.active ? 'page' : undefined">
                        {{ link.label }}
                    </a>

                </li>
            </ul>
        </nav>
    </div>

</template>

<script>
export default {
    props: {
        links: {
            type: Array,
            required: true
        },
    },
    methods: {
        pageChanged(url) {
            if (url) {
                const urlParams = new URL(url).searchParams;
                const page = urlParams.get('page');
                this.$emit('page-changed', page);
            }
        },
        getLinkClass(link) {
            return [
                'flex items-center justify-center px-4 h-10 leading-tight',
                'bg-white border border-gray-300 font-normal rounded',
                'dark:text-gray-500 dark:hover:bg-blue-300 dark:hover:text-white',
                link.active ? 'bg-blue-600 dark:text-white border-gray-300' : '',
            ];
        },
    },
    computed: {
        changeLinks() {
            const links = this.links.map(link => {
                if (link.label === '&laquo; Previous') link.label = '« Previous';
                if (link.label === 'Next &raquo;') link.label = 'Next »';
                return link;
            });

            return links;
        },
    }


}
</script>