<template>
    <div>
        <p class="text-sm text-gray-700">
            Showing
            <span class="font-medium"> {{ from }}
            </span>
            to
            <span class="font-medium">{{ totalPerPage }}</span>
            of
            <span class="font-medium">{{ totalResult }}</span>
            results
        </p>
    </div>
</template>

<script>
export default {
    methods: {
    },
    props: {
        totalResult: {
            type: Number,
            required: true
        },
        totalPerPage: {
            type: Number,
            required: true
        },
        from: {
            type: Number,
            required: true
        }

    }
}
</script>