<template>
    <div class="relative w-2/4 flex">
        <input class="file:mr-4 file:py-2 file:px-4 file:border-0
                 file:text-sm file:font-semibold
                 file:bg-gray-100 file:text-gray-500
                 hover:file:bg-gray-200

                 block w-full text-sm text-gray-900
                 bg-white rounded-sm border border-gray-300
                 cursor-pointer dark:text-gray-400
                 focus:outline-none dark:border-gray-300
                 dark:placeholder-gray-400" id="file_input" type="file" ref="fileInput">
        <button type="button" @click="handleUpload"
            class="mx-2 bg-teal-400 hover:bg-teal-300 text-white text-sm font-light py-2 px-8 rounded-sm inline-flex items-center">
            <AdjustmentsHorizontalIcon class="h-4 w-4 mr-1" aria-hidden="true" />
            Upload
        </button>
    </div>


</template>
<script setup>

import { AdjustmentsHorizontalIcon } from '@heroicons/vue/16/solid'
import { ref } from 'vue';
import useAxiosApi from '@/composables/useAxiosApi';
import { toast } from 'vue3-toastify';


const fileInput = ref(null);
const { uploadFile } = useAxiosApi();

const emit = defineEmits(['refresh-products']);

const handleUpload = async () => {
    if (fileInput.value && fileInput.value.files[0]) {
        await uploadFile(fileInput.value.files[0], '/api/products/bulk_upload');

        // Added a delay to show the toast so that products can be refreshed due to Queue in backend
        await sleep(2500);

        // Emit an event to refresh the list of products
        emit('refresh-products');
    }
    else {
        toast.error('Please select a file to upload');
    }
};

function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

</script>