<template>
    <div class="w-full min-h-screen rounded overflow-hidden shadow-md bg-white font-poppins font-light">
        <div class="px-6 py-4">
            <div class="w-full rounded shadow-md my-2 px-3 py-3 h-fit">
                <!-- Component: Form to bulk upload -->
                <bulk-upload-form class="my-4 mb-8" @refresh-products="onProductsRefresh" />
                <hr>
                <div class="font-medium text-l mt-8">Product Master List</div>
                <!-- Search input -->
                <div class="flex justify-end">
                    <form class="my-4 w-1/4 relative">
                        <!-- Magnifying glass icon -->
                        <svg class="w-5 h-5 absolute left-2.5 top-1/2 transform -translate-y-1/2 text-gray-400"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <!-- Use the path for a magnifying glass -->
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15.5 14.5L19 18m-6-3a5 5 0 100-10 5 5 0 000 10z" />
                        </svg>
                        <!-- Input field -->
                        <input type="text" placeholder="Search based on brand or model or capacity"
                            v-model="searchQuery" @input="fetchProducts()"
                            class="input text-xs pl-10 pr-4 py-2.5 rounded-sm border border-gray-300 w-full" />
                    </form>
                </div>
                <!-- Table to display products -->
                <table class="table-auto w-full">
                    <!-- Table header -->
                    <thead class="bg-blue-50">
                        <tr>
                            <th class="table-header">No.</th>
                            <!-- Components: Table columns using the sortable-column component -->
                            <sortable-column :title="'Product ID'" :sort-by="'product_sku'"
                                @sort-changed="sortChanged" />
                            <sortable-column :title="'Types'" :sort-by="'types'" @sort-changed="sortChanged" />
                            <sortable-column :title="'Brand'" :sort-by="'brand_id'" @sort-changed="sortChanged" />
                            <sortable-column :title="'Model'" :sort-by="'device_model_id'"
                                @sort-changed="sortChanged" />
                            <sortable-column :title="'Capacity'" :sort-by="'capacity'" @sort-changed="sortChanged" />
                            <sortable-column :title="'Quantity'" :sort-by="'quantity'" @sort-changed="sortChanged" />
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Table row -->
                        <tr v-for="(product, index) in products.data" :key="index" class="table-row hover:bg-gray-50">
                            <td class="table-td"> {{ (products.current_page - 1) *
                    products.per_page + index + 1 }}.
                            </td>
                            <td class="table-td">{{ product.product_sku }}</td>
                            <td class="table-td">{{ product.types }}</td>
                            <td class="table-td">{{ product.brand?.name }}</td>
                            <td class="table-td">{{ product.device_model?.name }}
                            </td>
                            <td class="table-td">{{ product.capacity }}</td>
                            <td class="table-td">{{ product.quantity }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between px-2 py-2 my-2">
                    <!-- Component: Showing labels -->
                    <showing-label :from="initialIndex" :totalResult="products.total ?? 0"
                        :totalPerPage="products.per_page ?? 0" />
                    <!-- Component: Pagination -->
                    <pagination-navigator :links="links" @page-changed="pageChanged" />
                </div>

            </div>
        </div>
    </div>



</template>

<script>
// import axios from 'axios';
import BulkUploadForm from './BulkUploadForm.vue';
import SortableColumn from './SortableColumn.vue';
import ShowingLabel from '../Pagination/ShowingLabel.vue';
import PaginationNavigator from '../Pagination/PaginationNavigator.vue';
import useAxiosApi from '@/composables/useAxiosApi';
export default {
    components: {
        BulkUploadForm,
        SortableColumn,
        ShowingLabel,
        PaginationNavigator,
    },
    props: {
    },
    data() {
        return {
            count: 0,
            products: [],
            apiUrl: import.meta.env.VITE_APP_API_URL,
            totalResult: 0,
            currentPage: 1,
            lastPage: 0,
            totalPerPage: 0,
            links: [],
            searchQuery: '',
        }
    },
    methods: {
        async fetchProducts(page = 1, sortAttributes = null) {
            const { fetchRecords } = useAxiosApi();
            const params = {
                per_page: 10,
                page: page,
                search: this.searchQuery,
                sort_by: sortAttributes?.sort_by ?? '',
                sort_direction: sortAttributes?.sort_direction ?? '',
            }

            fetchRecords(`/api/products`, params).then(response => {
                console.log("Response is ", response);
                this.products = response.data.result;
                this.currentPage = this.products.current_page;
                this.totalResult = this.products.total;
                this.totalPerPage = this.products.to;
                this.links = this.products.links;

            });
        },
        pageChanged(page) {
            if (page) {
                this.currentPage = page;
                this.fetchProducts(page);
            }
        },
        sortChanged(sortAttributes) {
            if (sortAttributes) {
                this.fetchProducts(this.currentPage, sortAttributes);
            }

        },
        getLinkClass(link) {
            return [
                'flex items-center justify-center px-4 h-10 leading-tight',
                'bg-white border border-gray-300 font-normal rounded',
                'dark:text-gray-500 dark:hover:bg-blue-300 dark:hover:text-white',
                link.active ? 'bg-blue-600 dark:text-white border-gray-300' : '',
            ];
        },
        onProductsRefresh() {
            this.fetchProducts(this.currentPage);
        },
    },
    mounted() {
        this.fetchProducts()
    },
    computed: {
        changeLinks() {
            const links = this.links.map(link => {
                if (link.label === '&laquo; Previous') link.label = '« Previous';
                if (link.label === 'Next &raquo;') link.label = 'Next »';
                return link;
            });

            return links;
        },
        initialIndex() {
            return (this.products.current_page - 1) * this.products.per_page + 1;
        }
    }

}
</script>

<style scoped></style>