<template>
    <th class="table-header" @click="toggleSort">
        <div class="flex items-center cursor-pointer">
            <a href="#" class="mr-1.5">
                <svg v-if="currentSortDir === 'asc'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" />
                </svg>

                <svg v-else-if="currentSortDir === 'desc'" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
                </svg>

                <svg v-else class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 24 24">
                    <!-- SVG path for no sort / default state -->
                </svg>
            </a>
            {{ title }}

        </div>
    </th>
</template>


<script>
export default {
    props: {
        title: {
            type: String,
            required: true
        },
        sortBy: {
            type: String,
            required: true,
        }
    },
    data() {
        return {
            currentSortDir: 'asc',
        }
    },
    methods: {
        toggleSort() {
            this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
            const sortAttribute = {
                sort_by: this.sortBy,
                sort_direction: this.currentSortDir
            }
            this.$emit('sort-changed', sortAttribute);
        }
    },

}
</script>