<template>

    <ProductList />

</template>

<script>
import ProductList from '@/components/Products/ProductList.vue';
export default {
    props: {
    },
    components: {
        ProductList
    },
    data() {
        return {
        }
    },
    methods: {
    },

}
</script>

<style scoped></style>