@tailwind base;
@tailwind components;
@tailwind utilities;

.table-header {
  @apply text-left px-2.5 py-3 font-normal;
}

.table-td {
  @apply border-b text-left px-2.5 py-2.5;
}

body {
  @apply text-sm;
}
